*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'cosmic';
    src: url(../assets/fontes/Just\ Cosmic.otf) format('truetype');
}

a {
    text-decoration: none;
    background-color: transparent;
    color: black;
}

button{
    border: black;
    border-radius: 10px;
    height: 30px;
    font-size: 15px;
    cursor: pointer;
}

button:hover{
    background-color: blue;
}

body{
    font-family: cosmic;
    width: fit-content;
    height: fit-content;
}

.containerUsuario{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

.painel {
    display: flex;
    height: 15vh;
    width: 95vw;
    justify-content: space-between;
    margin-top: 15px;
}

.quiz {
    text-decoration: none;
}

.conteudoQuiz {
    width: 60vw;
    height: 65vh;
    background-color: rgb(117, 30, 30);
    display: flex;
    border-radius: 45px;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.conteudoPainel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pergunta {
    width: 90%;
    height: 20%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.opcoes {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.titulo{
    color: rgb(173, 152, 246);
}

.pergunta{
    font-size: 30px;
}

.resultado{
    font-size: 30px;
}